/.SubsystemTemplateIncMulti.java._trace
/.SubsystemTemplateIncMulti.xtendbin
/.SubsystemTemplateSrcMulti.java._trace
/.SubsystemTemplateSrcMulti.xtendbin
/SubsystemTemplateIncMulti.java
/SubsystemTemplateSrcMulti.java
