/.ActorTemplate.java._trace
/.ActorTemplate.xtendbin
/.ChannelTemplate.java._trace
/.ChannelTemplate.xtendbin
/.InitTemplate.java._trace
/.InitTemplate.xtendbin
/.SubsystemTemplate.java._trace
/.SubsystemTemplate.xtendbin
/ActorTemplate.java
/ChannelTemplate.java
/InitTemplate.java
/SubsystemTemplate.java
