/.demo1.java._trace
/.demo1.xtendbin
/.demo2.java._trace
/.demo2.xtendbin
/.demo3.java._trace
/.demo3.xtendbin
/.test.java._trace
/.test.xtendbin
/.test2.java._trace
/.test2.xtendbin
/.test3.java._trace
/.test3.xtendbin
/demo1.java
/demo2.java
/demo3.java
/test.java
/test2.java
/test3.java
