/.SubsystemTemplateInc.java._trace
/.SubsystemTemplateInc.xtendbin
/.SubsystemTemplateInc2.java._trace
/.SubsystemTemplateInc2.xtendbin
/.SubsystemTemplateSrc.java._trace
/.SubsystemTemplateSrc.xtendbin
/SubsystemTemplateInc.java
/SubsystemTemplateInc2.java
/SubsystemTemplateSrc.java
